.client-item{    
    display: flex;
    flex-flow: row nowrap;
    justify-content: stretch;
    align-items: stretch;
    border-radius: 4px;
    background-color: #02434e;    
    color: #fff;            
    max-width: 80vw;
}

.client-image{
    max-width: 300px;
    border-radius: 4px 0 0 4px;
    flex-grow: 1;
}

.client-details{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 26px;
    flex-grow: 1;
}


@media screen and (max-width: 500px){
    .client-item{
        flex-flow: column nowrap;
        width: 60vw;
    }
}